* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --hue: 194;
    --hue-gray: 240;
    --primary-color: hsl(var(--hue), 97%, 31%);
    --secondary-color: hsl(var(--hue-gray), 9%, 89%);
    --bg-color: hsl(var(--hue), 5%, 7%);
    --text-color: hsl(var(--hue), 40%, 98%);
    --text-light-gray: hsl(var(--hue-gray), 6%, 21%);
    --card-color-selected: hsl(0, 0%, 100%);

    font-size: clamp(40%, 1% + 2vw, 62.5%);
}

html.light {
    --text-color: hsl(var(--hue-gray), 6%, 21%);
    --bg-color: hsl(var(--hue), 40%, 98%);
}

html.light .ph-sun,
html:not(.light) .ph-moon {
    display: none;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    display: grid;
    height: 100vh;
    place-content: center;
}

.sr-only {
    width: 1px;
    height: 1px;
    position: absolute;
    overflow: hidden;

    margin: -1px;
    padding: 0px;
    border: 0;
    appearance: none;
}

#app {
    display: flex;
    gap: 19.2rem;
    align-items: center;
}

.flex {
    display: flex;
}

.running .ph-play-circle,
html:not(.running) .ph-pause-circle {
    display: none;
}

#toggle-mode {
    position: absolute;
    top: 3.2rem;
    right: 3.2rem;
    font-size: 3.2rem;
    line-height: 0;

    color: var(--text-light-gray);

    background-color: transparent;
    border: 0;
    font-size: 3.4rem;
    color: var(--text-color);

    cursor: pointer;
    transition: all 200ms ease;
}

#toggle-mode:hover {
    transform: scale(1.1);
    color: var(--primary-color);
}


#timer {
    font-size: 12.6rem;
    font-weight: 500;
    font-family: 'Roboto';
    justify-content: center;
    width: 100%;
}

#controls {
    margin-top: 4.8rem;
    gap: 4rem;
    width: 100%;
}

#controls button {
    background-color: transparent;
    border: 0;
    font-size: 6.4rem;
    color: var(--text-color);

    cursor: pointer;
    transition: all 200ms ease;
}

#controls button:hover {
    transform: scale(1.1);
    color: var(--primary-color);
}

#sound-controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.2rem;
}

#sound-controls .card{
    background-color: var(--secondary-color);
    font-size: 6.4rem;
    border-radius: 2.4rem;
    color: var(--text-light-gray);

    cursor: pointer;

    width: 13.8rem;
    height: 15.2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 200ms ease;
}

#sound-controls .card:hover {
    transform: scale(1.1);
    filter: brightness(0.9);
}

#sound-controls .selected {
    background-color: var(--primary-color);
    color: var(--card-color-selected);
}

@media (max-width: 1100px) {
    #app {
        flex-direction: column;
        gap: 9rem;
    }

    #controls {
        margin-top: 2.8rem;
    }
}
